.button{
  cursor: pointer;
  display: inline-block;
  padding: 1.2rem 3.5rem;
  color: $color-bg;
  font-weight: $font-bold;
  text-decoration: none;
  border-radius: 5px;
  transition: opacity .3s ease-in;
}

.button:hover{
  opacity: .95;
}

.button--main{
  background: $color-main;
}

.button--sub{
  background: $color-text;
}