.linkbox {
  box-shadow: 3px 3px 5rem #00000010;
  border-radius: 1rem;
  width: 100%;
  background-color: $color-white;
  margin: 3rem 0;
  padding: 2rem 3rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $color-text;
  }

  &__instruction {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }

  &__link {
    font-size: 1.6rem;
    font-weight: $font-bold;
    width: 90%;
    padding: 0.8rem 0;
    margin: 0;
    border: none;
    outline: none;
    background-color: transparent;
  }

  &__copy {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    transition: $generic-anim;

    &:hover {
      fill: $color-main;
    }
  }
}
