.upload-area {
  width: 100%;
  height: 25vh;
  background: rgba($color-white, 0.9);
  margin: 5rem 0;
  box-shadow: 3px 3px 5rem #00000010;
  border-radius: 1rem;
  padding: 1.5rem;

  &__container {
    border-radius: 1rem;
    border: 3px dashed $color-light;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 3rem;
    padding-right: 2rem;
    transition: $generic-anim;
    cursor: pointer;

    &:hover {
      background-color: $color-bg;
      border-color: $color-main;

      & > svg {
        fill: $color-main;
      }
    }

    & > svg {
      width: 6rem;
      height: 6rem;
      fill: $color-light;
      margin-right: 3rem;
      transition: $generic-anim;
    }
  }

  &__container.dragged {
    background-color: $color-bg;
    border-color: $color-main;

    & > svg {
      fill: $color-main;
    }
  }

  &__text {
    pointer-events: none;
  }

  &__text > * {
    margin: 0;
  }

  &__title {
    text-transform: uppercase;
  }

  &__subtitle {
    color: $color-gray;
  }

  & label,
  & input {
    display: none;
  }
}
