$color-main: #1d5ea1;
$color-text: #313163;
$color-gray: #777;
$color-light: #ccc;
$color-bg: #ebf8fe;
$color-white: #fafafa;
$font-text: 'Poppins';
$font-heading: 'Libre Baskerville';
$font-regular: 400;
$font-bold: 500;
$font-black: 700;
$generic-anim: all 0.3s ease-in-out;
